@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/toastr.component.scss';


// @media (min-width: 576px)
// .modal-slide-in .modal-dialog {
//     width: 40rem;
// }

@media (min-width: 576px){
.modal-slide-in .modal-dialog {
    width: 48rem;
}}
.white-space{
    white-space: normal;
}
.f-size-class{
    font-size: 12px;
}

.count{
    font-size: 12px;
}
.white-space{
    white-space: normal;
          /* Adds a hyphen where the word breaks, if supported (No Blink) */
          overflow-wrap: break-word;
          word-wrap: break-word;
        
          -ms-word-break: break-all;
         
          word-break: break-all;
          word-break: break-word;
        
          -ms-hyphens: auto;
          -moz-hyphens: auto;
          -webkit-hyphens: auto;
          hyphens: auto;
}
.f-size-class{
    font-size: 12px;
}
.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
  }