<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo-->
    <!-- <a class="brand-logo" href="javascript:void(0);">
      <img src="../../../../../assets/images/login/Group 411.png"alt="brand-logo" height="70" />
      </a> -->
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center img-class">
      <div class="d-lg-flex align-items-center justify-content-center">
        <img
          class="img-fluid"
          src="../../../../../assets/images/login/Group 555.png"
          alt="Login V2"
        />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Login-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
  
        <div class="login-container">
          <div class="row d-flex justify-content-center ">
            <div class="col-3">
          <div class="avatar">
            <img src="../../../../../assets/images/login/Group 464@2x.png" alt="avatar" width="55" height="55" />
          </div>
          </div>
          <div class="col-9 font-cls">
          Hey! Welcome to mnorah, bringing togehter the voice of millions to witness and glorify The One.
          </div>
          </div>
        <!-- <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
          <div class="alert-body">
            <p>{{ error }}</p>
          </div>
        </ngb-alert> -->

        <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div  class="input-group" >
            <i data-feather="user" class="mr-1 mt-0 icon-cls" ></i>
            <input type="text"  formControlName="username"
            class=""
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            placeholder="Username"
            />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">User name is required</div>
            </div>
          </div>
          <div class="input-group">
            <i data-feather="mail" class="mr-1 mt-0 icon-cls" ></i>
            <input
              type="text"
              formControlName="email"
              class=""
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              placeholder="Username"
              aria-describedby="login-email"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="input-group">
          
           
              <i data-feather="lock" class="mr-1 mt-0 icon-cls" ></i>
              <input
                type="password"
                formControlName="password"
                class=""
                [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
                placeholder="Password"
                aria-describedby="login-password"
              />
          
           
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.password.errors }"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div><br/>
          <!-- <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" id="remember-me" type="checkbox" tabindex="3" />
              <label class="custom-control-label" for="remember-me"> Remember Me</label>
            </div>
          </div> -->
        
            <button [disabled]="loading" class="btn btn-primary btn-login" rippleEffect>
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>LOGIN
            </button>
           
            <p class="d-flex justify-content-center justify-content-center align-items-center mt-1"><br/>
            <a routerLink="/pages/authentication/forgot-password-v2"><small>Forgot Password?</small></a>
            </p>
          
            
        </form>
       
      
        <div class="auth-footer-btn d-flex justify-content-center">
          <img src="../../../../../assets/images/login/facebook.png" alt="brand-logo" height="55" class="mr-1"/>
          <img src="../../../../../assets/images/login/google.png" alt="brand-logo" height="55"/>
        
        </div>
       
         <p class="d-flex justify-content-center mt-3">Don't have an account?</p
          >
          <span class="d-flex justify-content-center mt-n0 font-cls"><a routerLink="/pages/authentication/register-v2"><span>&nbsp;<b class="register">REGISTER</b></span></a></span>
     
        </div>
      </div>
    </div>
    <!-- /Login-->
  </div>
</div>
