@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';
@import '@core/scss/angular/libs/toastr.component.scss';
@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/select.component.scss';

.auth-help-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.signin-title{
  font-weight: 200;
}
.login-container {
  background-color: white;
  padding: 10px; /* Adjust the padding as needed */
  // border-radius:10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.btn-login{
  background:linear-gradient(90deg, #66b1f9 0%, #7459dc 50%);
  color: #fff !important;
  padding-left:30px;
  padding-right: 30px;
  width: 100%;
}
.register{
  color:#9B02FE;
}
.font-cls{
  font-size: 12px;
}

.img-fluid{
 
  padding: 0px !important;
}
.img-class{
  padding: 0px !important;

}
input{
  width:85% !important;
  border:none;
  background-color: transparent;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;

}

.fa-user-circle-o{
  color: gray;
}
.icon-cls{
  margin-top:4px !important;
  color:#9B02FE;
}
.input-group{
  border: 0px solid black;
  border-bottom: 1px #98c6f1 solid;
  padding: 10px;
  padding-top: 30px !important;
  box-shadow: none !important;

}
.avatar{
  background-color: white !important;
}
// #0d00ff
// #9b02fe
.image-container {
  max-width: 100%;
  height: auto;
}

.dynamic-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain; /* Adjust the object-fit property as needed (e.g., contain, cover) */
}