<div class="slideout-content" *ngIf="status">
  <!-- Modal to add new user starts-->
  <div
    class="modalsd modal-slide-in sdfade new-user-modal"
    id="modals-slide-in"
  >
    <div class="modal-dialog">
      <form
        class="add-new-user modal-content pt-0"
        (ngSubmit)="(newUserForm.form.valid)"
        #newUserForm="ngForm"
      >
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('new-user-sidebar')"
        >
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">New Member</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label" for="user-plan">Select Church</label>
            <select
              id="basic-icon-default-church"
              class="form-control dt-church"
              aria-label=""
              aria-describedby="basic-icon-default-church"
              name="church"
              [class.error]="newUserForm.submitted && ChurchRef.invalid"
              #ChurchRef="ngModel"
              required
              [(ngModel)]="memberForm.church_id"
              [ngModelOptions]="{ standalone: true }"
            >
              <!-- <option value="Female">Female</option>
              <option value="Male">Male</option>
              <option value="Others">Others</option> -->
              <option value="">Select</option>
              <option *ngFor="let church of churcesData" [value]="church.id">
                {{ church.church_name }}
              </option>
            </select>
            <span
              *ngIf="newUserForm.submitted && ChurchRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="ChurchRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname"
              >Full Name</label
            >
            <input
              type="text"
              class="form-control dt-full-name"
              id="basic-icon-default-fullname"
              placeholder=""
              name="user-fullname"
              [(ngModel)]="memberForm.fullname"
              [class.error]="newUserForm.submitted && FNameRef.invalid"
              #FNameRef="ngModel"
              required
              aria-label=""
              aria-describedby="basic-icon-default-fullname2"
            />
            <span
              *ngIf="newUserForm.submitted && FNameRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="FNameRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-label" for="user-plan">Select Gender</label>
                <select
                  [(ngModel)]="memberForm.gender"
                  [ngModelOptions]="{ standalone: true }"
                  id="basic-icon-default-gender"
                  class="form-control dt-gender"
                  aria-label=""
                  aria-describedby="basic-icon-default-gender"
                  name="gender"
                  [class.error]="newUserForm.submitted && GenderRef.invalid"
                  #GenderRef="ngModel"
                  required
                >
                  <option value="Female">Female</option>
                  <option value="Male">Male</option>
                  <option value="Others">Others</option>
                </select>
                <span
                  *ngIf="newUserForm.submitted && GenderRef.invalid"
                  class="invalid-form"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="GenderRef.errors.required"
                    >This field is required!</small
                  >
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-label" for="basic-icon-default-dob"
                  >Date of Birth</label
                >
                <input
                  type="date"
                  id="basic-icon-default-dob"
                  class="form-control dt-dob"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-icon-default-dob"
                  name="dob"
                  [(ngModel)]="memberForm.dob"
                  [class.error]="newUserForm.submitted && DOBRef.invalid"
                  #DOBRef="ngModel"
                  required
                />
                <span
                  *ngIf="newUserForm.submitted && DOBRef.invalid"
                  class="invalid-form"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="DOBRef.errors.required"
                    >This field is required!</small
                  >
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-label" for="basic-icon-default-phone-number"
                  >Phone number</label
                >
                <input
                  type="text"
                  id="basic-icon-default-phone-number"
                  class="form-control dt-phone-number"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-icon-default-phone-number"
                  name="phone-number"
                  [(ngModel)]="memberForm.phone_number"
                  [class.error]="newUserForm.submitted && PhoneRef.invalid"
                  #PhoneRef="ngModel"
                  required
                />
                <span
                  *ngIf="newUserForm.submitted && PhoneRef.invalid"
                  class="invalid-form"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="PhoneRef.errors.required"
                    >This field is required!</small
                  >
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-label" for="basic-icon-default-email"
                  >Email</label
                >
                <input
                  type="text"
                  id="basic-icon-default-email"
                  class="form-control dt-email"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-icon-default-email2"
                  name="user-email"
                  [(ngModel)]="memberForm.email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  [class.error]="newUserForm.submitted && FEmailRef.invalid"
                  #FEmailRef="ngModel"
                  required
                />
                <span
                *ngIf="newUserForm.submitted && FEmailRef.invalid"
                class="invalid-form"
              >
                <small
                  class="form-text text-danger"
                  *ngIf="FEmailRef.invalid && newUserForm.submitted"
                  >Must be a valid email!</small
                >
              </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-label" for="basic-icon-default-city"
                  >City</label
                >
                <input
                  type="text"
                  id="basic-icon-default-city"
                  class="form-control dt-city"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-icon-default-city"
                  name="city"
                  [(ngModel)]="memberForm.city"
                  [class.error]="newUserForm.submitted && CityRef.invalid"
                  #CityRef="ngModel"
                  required
                />
                <span
                  *ngIf="newUserForm.submitted && CityRef.invalid"
                  class="invalid-form"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="CityRef.errors.required"
                    >This field is required!</small
                  >
                </span>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label class="form-label" for="basic-icon-default-state"
                  >State</label
                >
                <input
                  type="text"
                  id="basic-icon-default-state"
                  class="form-control dt-state"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-icon-default-state"
                  name="state"
                  [(ngModel)]="memberForm.state"
                  [class.error]="newUserForm.submitted && StateRef.invalid"
                  #StateRef="ngModel"
                  required
                />
                <span
                  *ngIf="newUserForm.submitted && StateRef.invalid"
                  class="invalid-form"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="StateRef.errors.required"
                    >This field is required!</small
                  >
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-label" for="user-plan"
                  >Membership Status (select one) :</label
                >
                <select
                  [(ngModel)]="memberForm.membership"
                  [ngModelOptions]="{ standalone: true }"
                  id="basic-icon-default-member-status"
                  class="form-control dt-member-status"
                  aria-label=""
                  aria-describedby="basic-icon-default-member-status"
                  name="member-status"
                  [class.error]="newUserForm.submitted && MemStsRef.invalid"
                  #MemStsRef="ngModel"
                  required
                >
                  <option value="">Select</option>
                  <option value="New Member">New Member</option>
                  <option value="Returning Member">Returning Member</option>
                  <option value="Visitor">Visitor</option>
                  <option value="Other">Other</option>
                </select>
                <span
                  *ngIf="newUserForm.submitted && MemStsRef.invalid"
                  class="invalid-form"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="MemStsRef.errors.required"
                    >This field is required!</small
                  >
                </span>
                <div
                  class="form-group"
                  *ngIf="memberForm.membership == 'Other'"
                >
                  <input
                    type="text"
                    id="basic-icon-default-state"
                    class="form-control dt-state"
                    placeholder="Type here..."
                    aria-label=""
                    aria-describedby="basic-icon-default-state"
                    name="state"
                    [(ngModel)]="memberForm.membership_others"
                    [class.error]="newUserForm.submitted && MemberRef.invalid"
                    #MemberRef="ngModel"
                    required
                  />
                  <span
                    *ngIf="newUserForm.submitted && MemberRef.invalid"
                    class="invalid-form"
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="MemberRef.errors.required"
                      >This field is required!</small
                    >
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-label" for="user-plan"
                  >How did you hear about our church? :</label
                >
                <select
                  [(ngModel)]="memberForm.hear_about_church"
                  [ngModelOptions]="{ standalone: true }"
                  id="basic-icon-default-hear-about-church"
                  class="form-control dt-hear-about-church"
                  aria-label=""
                  aria-describedby="basic-icon-default-hear-about-church"
                  name="hear-about-church"
                  [class.error]="newUserForm.submitted && HACRef.invalid"
                  #HACRef="ngModel"
                  required
                >
                  <option value="">Select</option>
                  <option value="Word of Mouth">Word of Mouth</option>
                  <option value="Website">Website</option>
                  <option value="Social Media">Social Media</option>
                  <option value="Invitation">Invitation</option>
                  <option value="Other">Other</option>
                </select>
                <span
                  *ngIf="newUserForm.submitted && HACRef.invalid"
                  class="invalid-form"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="HACRef.errors.required"
                    >This field is required!</small
                  >
                </span>
                <div
                  class="form-group"
                  *ngIf="memberForm.hear_about_church == 'Other'"
                >
                  <input
                    type="text"
                    id="basic-icon-default-state"
                    class="form-control dt-state"
                    placeholder="Type here.."
                    aria-label=""
                    aria-describedby="basic-icon-default-state"
                    name="state"
                    [(ngModel)]="memberForm.hear_about_church_other"
                    [class.error]="newUserForm.submitted && HCRef.invalid"
                    #HCrRef="ngModel"
                    required
                  />
                  <span
                    *ngIf="newUserForm.submitted && HCRef.invalid"
                    class="invalid-form"
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="HCRef.errors.required"
                      >This field is required!</small
                    >
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label>Involvement and Interests</label>

              <div class="form-group">
                <!-- Select Group by item -->
                <ng-select
                  [multiple]="true"
                  [closeOnSelect]="false"
                  [items]="selectGroup"
                  bindLabel="name"
                  groupBy="country"
                  [(ngModel)]="selectMultiGroupSelected"
                  (click)="checkOther($event)"
                  [class.error]="newUserForm.submitted && InvlRef.invalid"
                  #InvlRef="ngModel"
                  required
                >
                  <ng-template ng-optgroup-tmp let-item="item">
                    {{ item.country || "Unnamed group" }}
                  </ng-template>
                </ng-select>
                <span
                  *ngIf="newUserForm.submitted && InvlRef.invalid"
                  class="invalid-form"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="InvlRef.errors.required"
                    >This field is required!</small
                  >
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6" *ngIf="enableVolunteering">
              <div class="form-group">
                <input
                  type="text"
                  id="basic-icon-default-state"
                  class="form-control dt-state"
                  placeholder="Type here"
                  aria-label=""
                  aria-describedby="basic-icon-default-state"
                  name="state"
                  [(ngModel)]="memberForm.volunteering_other"
                  [class.error]="newUserForm.submitted && VRef.invalid"
                  #VRef="ngModel"
                  required
                />
                <span
                  *ngIf="newUserForm.submitted && VRef.invalid"
                  class="invalid-form"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="VRef.errors.required"
                    >This field is required!</small
                  >
                </span>
              </div>
            </div>

            <div class="col-6" *ngIf="enableAttending">
              <div class="form-group">
                <input
                  type="text"
                  id="basic-icon-default-state"
                  class="form-control dt-state"
                  placeholder="Type here"
                  aria-label=""
                  aria-describedby="basic-icon-default-state"
                  name="state"
                  [(ngModel)]="memberForm.attending_other"
                  [class.error]="newUserForm.submitted && VRef.invalid"
                  #VRef="ngModel"
                  required
                />
                <span
                  *ngIf="newUserForm.submitted && VRef.invalid"
                  class="invalid-form"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="VRef.errors.required"
                    >This field is required!</small
                  >
                </span>
              </div>
            </div>
          </div>

         

              <div class="form-group">
              <label>Additional Comments or Questions</label>

                <textarea
                  rows="4"
                  id="basic-icon-default-comments"
                  class="form-control dt-comments"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-icon-default-comments"
                  name="comments"
                  [(ngModel)]="memberForm.comments"
                  [class.error]="newUserForm.submitted && CommentRef.invalid"
                  #CommentRef="ngModel"
                  required
                ></textarea>
                <span
                  *ngIf="newUserForm.submitted && CommentRef.invalid"
                  class="invalid-form"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="CommentRef.errors?.required"
                    >This field is required!</small
                  >
                </span>
              </div>
          

          <div class="d-flex justify-content-between mt-2">
            <button
              [disabled]="loading"
              type="submit"
              class="btn btn-primary btn-login"
              rippleEffect
              (click)="submit(newUserForm)"
            >
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span
              >Submit
            </button>

            <button
              type="reset"
              class="btn btn-outline-secondary"
              (click)="toggleSidebar('new-user-sidebar')"
              rippleEffect
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal to add new user Ends-->
</div>
