<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
      <img
        src="{{ coreConfig.app.appLogoImage }}"
        alt="brand-logo"
        height="28"
      />
      <h2 class="brand-text text-primary ml-1">
        {{ coreConfig.app.appName }}
      </h2></a
    >
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div
        class="w-100 d-lg-flex align-items-center justify-content-center px-5"
      >
        <img
          class="img-fluid"
          [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/forgot-password-v2-dark.svg'
              : 'assets/images/pages/forgot-password-v2.svg'
          "
          alt="Forgot password V2"
        />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Forgot password-->
    <div
      class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5"
      *ngIf="data == undefined"
    >
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Reset Password</h2>
        <p class="card-text">
          Enter the email associated with your account and we'll send you an
          email with instructions to reset your password
        </p>
        <form
          class="auth-forgot-password-form"
          [formGroup]="forgotPasswordForm"
        >
          <div class="input-group align-items-center">
            <i data-feather="mail" class="mr-1 icon-cls"></i>
            <input
              type="text"
              formControlName="email"
              class=""
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              placeholder="Enter your email"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>

          <button
            [disabled]="loading"
            class="btn btn-primary btn-block btn-reset py-1"
            rippleEffect
            (click)="sentOTP()"
          >
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1 white-space"
            ></span
            >RESET PASSWORD
          </button>
        </form>
        <p class="text-center mt-2">
          <a routerLink="/pages/authentication/login-v2"
            ><button class="btn btn-block btn-back py-1" rippleEffect>
              <b>BACK</b>
            </button>
          </a>
        </p>
      </div>
    </div>

    <div
      class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5"
      *ngIf="data != undefined && user_data == undefined"
    >
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Verification Code</h2>
        <p class="card-text">Enter the 4 digit code sent your email.</p>
        <form
          class="auth-forgot-password-form"
          [formGroup]="forgotPasswordOTPForm"
        >
          <div class="input-group align-items-center">
            <i data-feather="otp" class="mr-1 icon-cls"></i>
            <input
              type="text"
              formControlName="otp"
              class=""
              [ngClass]="{ 'is-invalid': submitted && g.otp.errors }"
              placeholder="Enter OTP"
            />
            <div *ngIf="submitted && g.otp.errors" class="invalid-feedback">
              <div *ngIf="g.otp.errors.required">OTP is required</div>
            </div>
          </div>

          <button
            [disabled]="loading"
            class="btn btn-primary btn-block btn-reset py-1"
            rippleEffect
            (click)="verifyOTP()"
          >
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1 white-space"
            ></span
            >CONTINUE
          </button>
        </form>
        <p class="text-center mt-2">
          Didn't receive it? Check your spam or
          <a (click)="sentOTP()"
            ><b><u>Resend OTP</u></b></a
          >
        </p>
      </div>
    </div>

    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5"    *ngIf="user_data != undefined">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Set Your New Password</h2>
        <p class="card-text">
          Your new password must be different from your previous used password.
        </p>
        <form class="auth-forgot-password-form" [formGroup]="resetPasswordForm">
          <!-- <div class="input-group1 align-items-center">
            <i data-feather="lock" class="mr-1 icon-cls"></i>
            <input
              type="password"
              formControlName="new_password"
              class=""
              [ngClass]="{ 'is-invalid': submitted && c.new_password.errors }"
              placeholder="Enter new password"
            />
            <div
              *ngIf="submitted && c.new_password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="c.new_password.errors.required">
                This field is required
              </div>
            </div>
          </div> -->

          <div class="input-group1 align-items-center">
            <i data-feather="lock" class="mr-1 icon-cls"></i>
            <input
              type="{{ showNewPassword ? 'text' : 'password' }}"
              formControlName="new_password"
              class=""
              [ngClass]="{ 'is-invalid': submitted && c.new_password.errors }"
              placeholder="Enter new password"
            />

            <a (click)="toggleNewPasswordVisibility()">
              <span *ngIf="showNewPassword"> <i class="icon-cls" data-feather="eye"></i></span>
              <span  *ngIf="!showNewPassword">
                <i
                  class="icon-cls"
                 
                  data-feather="eye-off"
                ></i>
              </span>
            </a>
            <div
              *ngIf="submitted && c.new_password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="c.new_password.errors.required">
                This field is required
              </div>
            </div>
          </div>

          <div class="input-group2 align-items-center">
            <i data-feather="lock" class="mr-1 icon-cls"></i>
            <input
            type="{{ showConfirmPassword ? 'text' : 'password' }}"
              formControlName="confirm_password"
              class=""
              [ngClass]="{
                'is-invalid': submitted && c.confirm_password.errors
              }"
              placeholder="Enter confirm password"
            />
            <a (click)="toggleConfirmPasswordVisibility()">
              <span *ngIf="showConfirmPassword"> <i class="icon-cls" data-feather="eye"></i></span>
              <span  *ngIf="!showConfirmPassword">
                <i
                  class="icon-cls"
                 
                  data-feather="eye-off"
                ></i>
              </span>
            </a>
            <div
              *ngIf="submitted && c.confirm_password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="c.confirm_password.errors.required">
                This field is required
              </div>
            </div>
          </div>

          <button
            [disabled]="loading"
            class="btn btn-primary btn-block btn-reset py-1"
            rippleEffect
            (click)="updatePassword()"
          >
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1 white-space"
            ></span
            >RESET PASSWORD
          </button>
        </form>
      </div>
    </div>

    <!-- /Forgot password-->
  </div>
</div>
