<div class="loading" *ngIf="loading">
  <div class="effect-1 effects"></div>
  <div class="effect-2 effects"></div>
  <div class="effect-3 effects"></div>
</div>
<div class="content-wrapper container-xxl p-0" *ngIf="!loading">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-user-edit">
      <div class="card">
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" class="nav nav-pills">
            <li ngbNavItem>
              <!-- <a ngbNavLink class="d-flex align-items-center"
                ><i data-feather="user" class="mr-sm-50"></i
                ><span class="d-none d-sm-block">Account</span></a
              > -->
              <ng-template ngbNavContent>
                <!-- Account Tab starts -->
                <div
                  class="tab-pane active"
                  id="account"
                  aria-labelledby="account-tab"
                  role="tabpanel"
                >
                  <!-- users edit media object start -->
                  <div class="media mb-2">
                    <div
                      *ngIf="
                        currentRow.avatar != null &&
                          currentRow.avatar.length > 0;
                        else customAvatar
                      "
                    >
                      <img
                        class="user-avatar users-avatar-shadow rounded mr-2 my-25 cursor-pointer"
                        [src]="avatarImage"
                        height="90"
                        width="90"
                        alt="User avatar"
                      />
                    </div>
                    <ng-template #customAvatar>
                      <div
                        class="mr-1 ml-0"
                        [ngClass]="{
                          'bg-light-success': currentRow.status == 'active',
                          'bg-light-secondary': currentRow.status == 'inactive',
                          'bg-light-warning': currentRow.status == 'pending'
                        }"
                      >
                        <div class="rounded p-3">
                          {{ currentRow.user_name | initials }}
                        </div>
                      </div>
                    </ng-template>
                    <div class="media-body mt-50">
                      <h4>{{ currentRow.user_name }}</h4>
                      <div class="col-12 d-flex mt-1 px-0">
                        <label
                          class="btn btn-primary mr-75 mb-0"
                          for="change-picture"
                        >
                          <span class="d-none d-sm-block">Change</span>
                          <input
                            class="form-control"
                            type="file"
                            id="change-picture"
                            hidden
                            accept="image/png, image/jpeg, image/jpg"
                            (change)="uploadImage($event)"
                          />
                          <span class="d-block d-sm-none">
                            <i class="mr-0" data-feather="edit"></i>
                          </span>
                        </label>
                        <!-- <button
                          class="btn btn-outline-secondary d-none d-sm-block"
                          rippleEffect
                        >
                          Remove
                        </button> -->
                        <button
                          class="btn btn-outline-secondary d-block d-sm-none"
                        >
                          <i class="mr-0" data-feather="trash-2"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- users edit media object ends -->
                  <!-- users edit account form start -->
                  <form
                    class="form-validate"
                    (ngSubmit)="(accountForm.form.valid)"
                    #accountForm="ngForm"
                  >
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="form-label" for="user-plan"
                            >Select Church
                            <span
                              *ngIf="accountForm.submitted && ChurchRef.invalid"
                              class="text-danger"
                              >*</span
                            >
                            <span
                              *ngIf="
                                !accountForm.submitted || !ChurchRef.invalid
                              "
                              >*</span
                            ></label
                          >
                          <select
                            class="form-control"
                            id="church"
                            name="church"
                            [class.error]="
                              accountForm.submitted && ChurchRef.invalid
                            "
                            #ChurchRef="ngModel"
                            required
                            [(ngModel)]="currentRow.church_id"
                            [ngModelOptions]="{ standalone: true }"
                            (ngModelChange)="getMembers()"
                          >
                            <option value="">Select</option>
                            <option
                              *ngFor="let church of churcesData"
                              [value]="church.id"
                            >
                              {{ church.church_name }}
                            </option>
                          </select>
                          <span
                            *ngIf="accountForm.submitted && ChurchRef.invalid"
                            class="invalid-form"
                          >
                            <small
                              class="form-text text-danger"
                              *ngIf="ChurchRef.errors.required"
                              >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="username"
                            >Full name
                            <span
                              *ngIf="
                                accountForm.submitted && UserNameRef.invalid
                              "
                              class="text-danger"
                              >*</span
                            >
                            <span
                              *ngIf="
                                !accountForm.submitted || !UserNameRef.invalid
                              "
                              >*</span
                            ></label
                          >
                          <input
                            type="text"
                            id="username"
                            class="form-control"
                            placeholder="Username"
                            name="username"
                            [(ngModel)]="currentRow.user_name"
                            [ngModelOptions]="{ standalone: true }"
                            [class.error]="
                              accountForm.submitted && UserNameRef.invalid
                            "
                            #UserNameRef="ngModel"
                            required
                            (ngModelChange)="checkFormModified()"
                          />
                          <span
                            *ngIf="accountForm.submitted && UserNameRef.invalid"
                            class="invalid-form"
                          >
                            <small
                              class="form-text text-danger"
                              *ngIf="UserNameRef.errors.required"
                              >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email"
                            >E-mail
                            <span
                              *ngIf="accountForm.submitted && EmailRef.invalid"
                              class="text-danger"
                              >*</span
                            >
                            <span
                              *ngIf="
                                !accountForm.submitted || !EmailRef.invalid
                              "
                              >*</span
                            ></label
                          >
                          <input
                            type="email"
                            id="email"
                            class="form-control"
                            placeholder="Email"
                            name="email"
                            [(ngModel)]="currentRow.email"
                            [ngModelOptions]="{ standalone: true }"
                            [class.error]="
                              accountForm.submitted && EmailRef.invalid
                            "
                            #EmailRef="ngModel"
                            required
                            (ngModelChange)="checkFormModified()"
                          />
                          <span
                            *ngIf="accountForm.submitted && EmailRef.invalid"
                            class="invalid-form"
                          >
                            <small
                              class="form-text text-danger"
                              *ngIf="EmailRef.errors.required"
                              >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="company"
                            >Gender
                            <span
                              *ngIf="accountForm.submitted && GenderRef.invalid"
                              class="text-danger"
                              >*</span
                            >
                            <span
                              *ngIf="
                                !accountForm.submitted || !GenderRef.invalid
                              "
                              >*</span
                            ></label
                          >

                          <select
                            id="user-plan"
                            class="form-control"
                            [(ngModel)]="currentRow.gender"
                            [ngModelOptions]="{ standalone: true }"
                            [class.error]="
                              accountForm.submitted && GenderRef.invalid
                            "
                            #GenderRef="ngModel"
                            required
                            (ngModelChange)="checkFormModified()"
                          >
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                            <option value="Others">Others</option>
                          </select>
                          <span
                            *ngIf="accountForm.submitted && GenderRef.invalid"
                            class="invalid-form"
                          >
                            <small
                              class="form-text text-danger"
                              *ngIf="GenderRef.errors.required"
                              >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="company"
                            >Phone number
                            <span
                              *ngIf="accountForm.submitted && PhoneRef.invalid"
                              class="text-danger"
                              >*</span
                            >
                            <span
                              *ngIf="
                                !accountForm.submitted || !PhoneRef.invalid
                              "
                              >*</span
                            ></label
                          >
                          <input
                            type="text"
                            id="basic-icon-default-phone-number"
                            class="form-control dt-phone-number"
                            placeholder=""
                            aria-label=""
                            aria-describedby="basic-icon-default-phone-number"
                            name="phone-number"
                            [(ngModel)]="currentRow.mobile_no"
                            [class.error]="
                              accountForm.submitted && PhoneRef.invalid
                            "
                            #PhoneRef="ngModel"
                            required
                            (ngModelChange)="checkFormModified()"
                          />
                          <span
                            *ngIf="accountForm.submitted && PhoneRef.invalid"
                            class="invalid-form"
                          >
                            <small
                              class="form-text text-danger"
                              *ngIf="PhoneRef.errors.required"
                              >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="company">Date of birth</label>
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="currentRow.dob"
                            [ngModelOptions]="{ standalone: true }"
                            placeholder="Date of birth"
                            id="dob"
                            name="dob"
                            (ngModelChange)="checkFormModified()"
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="company">City</label>
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="currentRow.location"
                            [ngModelOptions]="{ standalone: true }"
                            placeholder="City name"
                            id="city"
                            name="city"
                            (ngModelChange)="checkFormModified()"
                          />
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label>State</label>
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="currentRow.state"
                            [ngModelOptions]="{ standalone: true }"
                            placeholder="State"
                            id="state"
                            name="state"
                            (ngModelChange)="checkFormModified()"
                          />
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label" for="user-plan"
                            >Membership Status (select one) :</label
                          >
                          <select
                            id="user-plan"
                            class="form-control"
                            [(ngModel)]="currentRow.membership_status"
                            [ngModelOptions]="{ standalone: true }"
                            (ngModelChange)="checkFormModified()"
                          >
                            <option value="New Member">New Member</option>
                            <option value="Returning Member">
                              Returning Member
                            </option>
                            <option value="Visitor">Visitor</option>
                            <option value="Other">Other</option>
                          </select>
                          <div
                            class="form-group"
                            *ngIf="currentRow.membership_status == 'Other'"
                          >
                            <input
                              type="text"
                              class="form-control"
                              [(ngModel)]="currentRow.membership_status_other"
                              [ngModelOptions]="{ standalone: true }"
                              placeholder="Membership status"
                              id="membership"
                              name="membership"
                              (ngModelChange)="checkFormModified()"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label" for="user-plan"
                            >How did you hear about our church? :</label
                          >
                          <select
                            id="user-plan"
                            class="form-control"
                            [(ngModel)]="currentRow.hear_about_church"
                            [ngModelOptions]="{ standalone: true }"
                            (ngModelChange)="checkFormModified()"
                          >
                            <option value="Word of Mouth">Word of Mouth</option>
                            <option value="Website">Website</option>
                            <option value="Social Media">Social Media</option>
                            <option value="Invitation">Invitation</option>
                            <option value="Other">Other</option>
                          </select>
                          <div
                            class="form-group"
                            *ngIf="currentRow.hear_about_church == 'Other'"
                          >
                            <input
                              type="text"
                              class="form-control"
                              [(ngModel)]="currentRow.hear_about_church_other"
                              [ngModelOptions]="{ standalone: true }"
                              placeholder="Type here.. "
                              id="hearaboutchurch"
                              name="hearaboutchurch"
                              (ngModelChange)="checkFormModified()"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <label class="form-label" for="user-plan"
                            >Involvement and Interests :</label
                          >
                          <ng-select
                            [multiple]="true"
                            [closeOnSelect]="false"
                            [items]="selectGroup"
                            bindLabel="name"
                            groupBy="country"
                            [(ngModel)]="selectMultiGroupSelected"
                            (click)="checkOther($event)"
                          >
                            <ng-template ng-optgroup-tmp let-item="item">
                              {{ item.country || "Unnamed group" }}
                            </ng-template>
                          </ng-select>
                        </div>
                      </div>

                      <div class="col-6" *ngIf="enableVolunteering">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="currentRow.volunteering_other"
                            [ngModelOptions]="{ standalone: true }"
                            placeholder="Type here.. "
                            id="volunteering_other"
                            name="volunteering_other"
                            (ngModelChange)="checkFormModified()"
                          />
                        </div>
                      </div>

                      <div class="col-6" *ngIf="enableAttending">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="currentRow.attending_other"
                            [ngModelOptions]="{ standalone: true }"
                            placeholder="Type here.. "
                            id="attending_other"
                            name="attending_other"
                            (ngModelChange)="checkFormModified()"
                          />
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <label class="form-label" for="user-plan"
                            >Additional Comments or Questions</label
                          >
                          <textarea
                            rows="4"
                            placeholder="Comments"
                            id="comments"
                            name="comments"
                            [(ngModel)]="currentRow.comments"
                            [ngModelOptions]="{ standalone: true }"
                            type="text"
                            class="form-control"
                            (ngModelChange)="checkFormModified()"
                          ></textarea>
                        </div>
                      </div>

                      <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                        <button
                          [disabled]="!formModified || buttonLoading"
                          type="submit"
                          (click)="submit(accountForm)"
                          class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                          rippleEffect
                        >
                          <span
                            *ngIf="buttonLoading"
                            class="spinner-border spinner-border-sm mr-1"
                          ></span>
                          Save Changes
                        </button>
                        <button
                          (click)="resetFormWithDefaultValues()"
                          class="btn btn-outline-secondary"
                          rippleEffect
                        >
                          Reset
                        </button>
                      </div>
                    </div>
                  </form>
                  <!-- users edit account form ends -->
                </div>
                <!-- Account Tab ends -->
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section>
    <!-- users edit ends -->
  </div>
</div>
