<div class="slideout-content" *ngIf="status">
  <!-- Modal to add new user starts-->
  <div
    class="modalsd modal-slide-in sdfade new-user-modal"
    id="modals-slide-in"
  >
    <div class="modal-dialog">
      <form
        class="add-new-user modal-content pt-0"
        (ngSubmit)="(newUserForm.form.valid)"
        #newUserForm="ngForm"
      >
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('new-user-sidebar')"
        >
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">New Sub Admin</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label" for="user-plan">Select Church <span *ngIf="newUserForm.submitted && ChurchRef.invalid" class="text-danger">*</span>
              <span *ngIf="!newUserForm.submitted || !ChurchRef.invalid">*</span></label>
            <select
              id="basic-icon-default-church"
              class="form-control dt-church"
              aria-label=""
              aria-describedby="basic-icon-default-church"
              name="church"
              [class.error]="newUserForm.submitted && ChurchRef.invalid"
              #ChurchRef="ngModel"
              required
              [(ngModel)]="church_id"
              [ngModelOptions]="{ standalone: true }"
            >
              <option value="">Select</option>
              <option *ngFor="let church of churcesData" [value]="church.id">
                {{ church.church_name }}
              </option>
            </select>
            <span
              *ngIf="newUserForm.submitted && ChurchRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="ChurchRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname"
              >Full Name <span *ngIf="newUserForm.submitted && FNameRef.invalid" class="text-danger">*</span>
              <span *ngIf="!newUserForm.submitted || !FNameRef.invalid">*</span></label
            >
            <input
              type="text"
              class="form-control dt-full-name"
              id="basic-icon-default-fullname"
              placeholder=""
              name="user-fullname"
              [(ngModel)]="fullname"
              [class.error]="newUserForm.submitted && FNameRef.invalid"
              #FNameRef="ngModel"
              required
              aria-label=""
              aria-describedby="basic-icon-default-fullname2"
            />
            <span
              *ngIf="newUserForm.submitted && FNameRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="FNameRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-gender"
              >Select Gender</label
            >
            <select
              [(ngModel)]="gender"
              [ngModelOptions]="{ standalone: true }"
              id="basic-icon-default-gender"
              class="form-control dt-gender"
              aria-label=""
              aria-describedby="basic-icon-default-gender"
              name="gender"
           
            >
              <option value="Female">Female</option>
              <option value="Male">Male</option>
              <option value="Others">Others</option>
            </select>
           
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-dob"
              >Date of Birth</label
            >
            <input
              type="date"
              id="basic-icon-default-dob"
              class="form-control dt-dob"
              aria-label=""
              aria-describedby="basic-icon-default-dob"
              name="dob"
              [(ngModel)]="dob"
            
            />
            <!-- <span
              *ngIf="newUserForm.submitted && DOBRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="DOBRef.errors.required"
                >This field is required!</small
              >
            </span> -->
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-phone-number"
              >Phone number <span *ngIf="newUserForm.submitted && PhoneRef.invalid" class="text-danger">*</span>
              <span *ngIf="!newUserForm.submitted || !PhoneRef.invalid">*</span></label
            >
            <input
              type="text"
              id="basic-icon-default-phone-number"
              class="form-control dt-phone-number"
              placeholder=""
              aria-label=""
              aria-describedby="basic-icon-default-phone-number"
              name="phone-number"
              [(ngModel)]="phone_number"
              [class.error]="newUserForm.submitted && PhoneRef.invalid"
              #PhoneRef="ngModel"
              required
            />
            <span
              *ngIf="newUserForm.submitted && PhoneRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="PhoneRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-email"
              >Email <span *ngIf="newUserForm.submitted && FEmailRef.invalid" class="text-danger">*</span>
              <span *ngIf="!newUserForm.submitted || !FEmailRef.invalid">*</span></label
            >
            <input
              type="text"
              id="basic-icon-default-email"
              class="form-control dt-email"
              placeholder=""
              aria-label=""
              aria-describedby="basic-icon-default-email2"
              name="user-email"
              [(ngModel)]="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              [class.error]="newUserForm.submitted && FEmailRef.invalid"
              #FEmailRef="ngModel"
              required
            />
            <span
              *ngIf="newUserForm.submitted && FEmailRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="FEmailRef.invalid && newUserForm.submitted"
                >Must be a valid email!</small
              >
            </span>
           
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-city">City <span *ngIf="newUserForm.submitted && CityRef.invalid" class="text-danger">*</span>
              <span *ngIf="!newUserForm.submitted || !CityRef.invalid">*</span></label>
            <input
              type="text"
              id="basic-icon-default-city"
              class="form-control dt-city"
              placeholder=""
              aria-label=""
              aria-describedby="basic-icon-default-city"
              name="city"
              [(ngModel)]="city"
              [class.error]="newUserForm.submitted && CityRef.invalid"
              #CityRef="ngModel"
              required
            />
            <span
              *ngIf="newUserForm.submitted && CityRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="CityRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>

          <div class="d-flex justify-content-between mt-2">
          <button
            [disabled]="loading"
            type="submit"
            class="btn btn-primary "
            rippleEffect
            (click)="submit(newUserForm)"
          >
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span
            >Submit
          </button>

          <button
            type="reset"
            class="btn btn-outline-secondary"
            (click)="toggleSidebar('new-user-sidebar')"
            rippleEffect
          >
            Cancel
          </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal to add new user Ends-->
</div>
