<div class="loading" *ngIf="loading">
  <div class="effect-1 effects"></div>
  <div class="effect-2 effects"></div>
  <div class="effect-3 effects"></div>
</div>
<div class="content-wrapper container-xxl p-0" *ngIf="!loading">
  <div class="content-body">
    <!-- Card Advance -->
    <div class="row match-height">

      <div class="col-lg-3 col-sm-6 col-12  pointer-on-hover" routerLink="/visitor-management">
        <div class="card" >
          <div class="card-header d-flex flex-column align-items-start pb-0">
            <div class="avatar bg-light-warning p-50 m-0">
              <div class="avatar-content">
                <i data-feather="link" class="font-medium-5"></i>
              </div>
            </div>
            <h2 class="font-weight-bolder mt-1">{{ visitors.total_visitors }}</h2>
            <p class="mb-0">Visitors Records</p>
          </div>

          <!-- Apexchart component-->
          <div id="orderChartoptions" #orderChartRef>
            <apx-chart
              [series]="visitors.series"
              [chart]="{
                height: 100,
                width: isMenuToggled === true ? orderChartRef.offsetWidth : orderChartoptions.chart.width,
                type: 'area',
                toolbar: {
                  show: false
                },
                sparkline: {
                  enabled: true
                }
              }"
              [stroke]="orderChartoptions.stroke"
              [fill]="orderChartoptions.fill"
              [tooltip]="orderChartoptions.tooltip"
              [colors]="orderChartoptions.colors"
              [dataLabels]="orderChartoptions.dataLabels"
            ></apx-chart>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12 pointer-on-hover" routerLink="/member-management">
        <div class="card">
          <div class="card-header d-flex flex-column align-items-start pb-0">
            <div class="avatar bg-light-primary p-50 m-0">
              <div class="avatar-content">
                <i data-feather="users" class="font-medium-5"></i>
              </div>
            </div>
            <h2 class="font-weight-bolder mt-1">{{rows.total_active_users}}</h2>
            <p class="mb-0">Active Members Registered</p>
          </div>

          <!-- Apexchart component-->
          <div id="gainedChartoptions" #gainedChartRef>
            <apx-chart
              [series]="rows.series"
              [chart]="{
                height: 100,
                width: isMenuToggled === true ? gainedChartRef.offsetWidth : gainedChartoptions.chart.width,
                type: 'area',
                toolbar: {
                  show: false
                },
                sparkline: {
                  enabled: true
                }
              }"
              [stroke]="gainedChartoptions.stroke"
              [fill]="gainedChartoptions.fill"
              [tooltip]="gainedChartoptions.tooltip"
              [colors]="gainedChartoptions.colors"
              [dataLabels]="gainedChartoptions.dataLabels"
            ></apx-chart>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12 pointer-on-hover" routerLink="/prayer-request-management">
        <div class="card">
          <div class="card-header d-flex flex-column align-items-start pb-0">
            <div class="avatar bg-light-secondary p-50 m-0">
              <div class="avatar-content">
                <i data-feather="zap" class="font-medium-5"></i>
              </div>
            </div>
            <h2 class="font-weight-bolder mt-1">{{ prayer_requests.total_prayer_requests }}</h2>
            <p class="mb-0">Prayer Requests</p>
          </div>

          <!-- Apexchart component-->
          <div id="orderChartoptions" #orderChartRef>
            <apx-chart
              [series]="prayer_requests.series"
              [chart]="{
                height: 100,
                width: isMenuToggled === true ? orderChartRef.offsetWidth : orderChartoptions.chart.width,
                type: 'area',
                toolbar: {
                  show: false
                },
                sparkline: {
                  enabled: true
                }
              }"
              [stroke]="orderChartoptions.stroke"
              [fill]="orderChartoptions.fill"
              [tooltip]="orderChartoptions.tooltip"
              [colors]="orderChartoptions.colors"
              [dataLabels]="orderChartoptions.dataLabels"
            ></apx-chart>
          </div>
        </div>
      </div>
   
      <div class="col-lg-3 col-sm-6 col-12 pointer-on-hover" routerLink="/testimony-management">
        <div class="card">
          <div class="card-header d-flex flex-column align-items-start pb-0">
            <div class="avatar bg-light-info p-50 m-0">
              <div class="avatar-content">
                <i data-feather="feather" class="font-medium-5"></i>
              </div>
            </div>
            <h2 class="font-weight-bolder mt-1">{{ testimony.total_testimony }}</h2>
            <p class="mb-0">Testimonies</p>
          </div>

          <!-- Apexchart component-->
          <div id="orderChartoptions" #orderChartRef>
            <apx-chart
              [series]="testimony.series"
              [chart]="{
                height: 100,
                width: isMenuToggled === true ? orderChartRef.offsetWidth : orderChartoptions.chart.width,
                type: 'area',
                toolbar: {
                  show: false
                },
                sparkline: {
                  enabled: true
                }
              }"
              [stroke]="orderChartoptions.stroke"
              [fill]="orderChartoptions.fill"
              [tooltip]="orderChartoptions.tooltip"
              [colors]="orderChartoptions.colors"
              [dataLabels]="orderChartoptions.dataLabels"
            ></apx-chart>
          </div>
        </div>
      </div>
   

      <div class="col-lg-3 col-sm-6 col-12 pointer-on-hover" routerLink="/feed-management">
        <div class="card">
          <div class="card-header d-flex flex-column align-items-start pb-0">
            <div class="avatar bg-light-success p-50 m-0">
              <div class="avatar-content">
                <i data-feather="film" class="font-medium-5"></i>
              </div>
            </div>
            <h2 class="font-weight-bolder mt-1">{{ feeds.total_feeds }}</h2>
            <p class="mb-0">Feeds Entered</p>
          </div>

          <!-- Apexchart component-->
          <div id="orderChartoptions" #orderChartRef>
            <apx-chart
              [series]="feeds.series"
              [chart]="{
                height: 100,
                width: isMenuToggled === true ? orderChartRef.offsetWidth : orderChartoptions.chart.width,
                type: 'area',
                toolbar: {
                  show: false
                },
                sparkline: {
                  enabled: true
                }
              }"
              [stroke]="orderChartoptions.stroke"
              [fill]="orderChartoptions.fill"
              [tooltip]="orderChartoptions.tooltip"
              [colors]="orderChartoptions.colors"
              [dataLabels]="orderChartoptions.dataLabels"
            ></apx-chart>
          </div>
        </div>
      </div>
   
      <div class="col-lg-3 col-sm-6 col-12 pointer-on-hover" routerLink="/life-group-management">
        <div class="card">
          <div class="card-header d-flex flex-column align-items-start pb-0">
            <div class="avatar bg-light-info p-50 m-0">
              <div class="avatar-content">
                <i data-feather="life-buoy" class="font-medium-5"></i>
              </div>
            </div>
            <h2 class="font-weight-bolder mt-1">{{ life_group_members.total_life_group_members }}</h2>
            <p class="mb-0">Members Added to Life Groups</p>
          </div>

          <!-- Apexchart component-->
          <div id="orderChartoptions" #orderChartRef>
            <apx-chart
              [series]="life_group_members.series"
              [chart]="{
                height: 100,
                width: isMenuToggled === true ? orderChartRef.offsetWidth : orderChartoptions.chart.width,
                type: 'area',
                toolbar: {
                  show: false
                },
                sparkline: {
                  enabled: true
                }
              }"
              [stroke]="orderChartoptions.stroke"
              [fill]="orderChartoptions.fill"
              [tooltip]="orderChartoptions.tooltip"
              [colors]="orderChartoptions.colors"
              [dataLabels]="orderChartoptions.dataLabels"
            ></apx-chart>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-sm-6 col-12 pointer-on-hover" *ngIf="httpService.USERINFO.role=='Super Admin'" routerLink="/church-management">
        <div class="card">
          <div class="card-header d-flex flex-column align-items-start pb-0">
            <div class="avatar bg-light-muted p-50 m-0">
              <div class="avatar-content">
                <i data-feather="life-buoy" class="font-medium-5"></i>
              </div>
            </div>
            <h2 class="font-weight-bolder mt-1">{{ churches.total_churches }}</h2>
            <p class="mb-0">Total number of Churches</p>
          </div>

          <!-- Apexchart component-->
          <div id="orderChartoptions" #orderChartRef>
            <apx-chart
              [series]="churches.series"
              [chart]="{
                height: 100,
                width: isMenuToggled === true ? orderChartRef.offsetWidth : orderChartoptions.chart.width,
                type: 'area',
                toolbar: {
                  show: false
                },
                sparkline: {
                  enabled: true
                }
              }"
              [stroke]="orderChartoptions.stroke"
              [fill]="orderChartoptions.fill"
              [tooltip]="orderChartoptions.tooltip"
              [colors]="orderChartoptions.colors"
              [dataLabels]="orderChartoptions.dataLabels"
            ></apx-chart>
          </div>
        </div>
      </div>
   
      <div class="col-lg-3 col-sm-6 col-12 pointer-on-hover" *ngIf="httpService.USERINFO.role=='Super Admin'" routerLink="/sub-admin">
        <div class="card">
          <div class="card-header d-flex flex-column align-items-start pb-0">
            <div class="avatar bg-light-danger p-50 m-0">
              <div class="avatar-content">
                <i data-feather="user-plus" class="font-medium-5"></i>
              </div>
            </div>
            <h2 class="font-weight-bolder mt-1">{{ admins.total_admins }}</h2>
            <p class="mb-0">Total number of Sub Admins</p>
          </div>

          <!-- Apexchart component-->
          <div id="orderChartoptions" #orderChartRef>
            <apx-chart
              [series]="admins.series"
              [chart]="{
                height: 100,
                width: isMenuToggled === true ? orderChartRef.offsetWidth : orderChartoptions.chart.width,
                type: 'area',
                toolbar: {
                  show: false
                },
                sparkline: {
                  enabled: true
                }
              }"
              [stroke]="orderChartoptions.stroke"
              [fill]="orderChartoptions.fill"
              [tooltip]="orderChartoptions.tooltip"
              [colors]="orderChartoptions.colors"
              [dataLabels]="orderChartoptions.dataLabels"
            ></apx-chart>
          </div>
        </div>
      </div>

    </div>

    




    <!-- <app-invoice-list></app-invoice-list> -->
  </div>
</div>
